body{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    overflow: hidden;
    height: 100%;
}

#root{
    display: grid;
    grid-template: 1fr 9fr/ 5fr 5fr;
    height: 100vh;
}
/* Header */
.header{
    grid-area: 1/1/2/3;
    background-color: rgb(1, 15, 21);
    padding: .1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 70px;
}
.download{
    background-color: rgb(65, 132, 225);
    border: none;
    border-radius: 30px;
    width: 140px;
    height: 40px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
button{
    cursor: pointer;
}

/* Category Section */
.categorySect{
    padding: 0px 4em;
    grid-area: 2/1/2/3;
    overflow: auto;
    padding-bottom: 20em;
}
.personalDetails, .education, .experience, .skills{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}
.personData, .educationData, .experienceData{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact, .person, .schoolData, .date, .rest, .companyData, .dateJob, .skill{
    display: flex;
    gap: 5px;
}
.person{
    align-items: center;
}
.skill{
    align-items: end;
}
input{
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    height: 40px;
    width: 300px;
    padding: 0px .5em;
    box-sizing: border-box;
}
#name, #lastName{
    width: 258px;
}
input[type="file"] {
  display: none;
}
input:focus{
    outline: none;
    border: 1px solid rgb(65, 132, 225);
    background-color: rgb(228, 235, 246);
}
.inputFile {
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  width: 80px;
  height: 80px;
}
.inputFile:hover{
    border: 1px solid rgb(65, 132, 225);
    background-color: rgb(228, 235, 246);
    box-sizing: border-box;
}
textarea:focus{
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgb(65, 132, 225);
    background-color: rgb(228, 235, 246);
}
textarea{
    padding: .5em;
    box-sizing: border-box;
    resize: none;
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
}
#description{
    width: 605px;
}
.addEducation, .addExperience, .addSkill{
    width: 100px;
    height: 30px;
    background-color: rgb(65, 132, 225);
    border: none;
    color: white;
    border-radius: 25px;
}


/* Main Section */
.mainSect{
    border-radius: 5px;
    grid-area: 2/2/3/3;
    justify-self: center;
    border: 1px solid black;
    margin: 1em;
    overflow-y: auto;
    height: 974px;
    width: 714px;
    display: grid;
    grid-template: 1fr/ 1fr 2fr;
}
.personPhoto{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: white;
    object-fit: cover
    
}
.personDetailsMain h3{
    text-decoration: underline;
    text-underline-offset: 4px;
    align-self: flex-start;
}
h4{
    line-height: 5px;
}
h3{
    margin: 0px;
}
h5{
    margin-top: 0px;
}
.fullName h2{
    margin: 0px;
}
.fullName{
    display: flex;
    gap: .5em;
    margin: 0px;
}
.personDetailsMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5c6c87;
    padding: 1em;
    color: white;
}
.personInfo{
    padding: 1em;
}
.line{
    border-bottom: 1px solid #303846;
    margin: 0px;
}
.allSections h2{
    line-height: .1em;
}
.profile{
    margin-top: 0px;
}
.workBox p, .EducationBox p{
    margin: 0px; 
}
.positionName, .SchoolName{
    font-size: 18px;
    font-weight: 900;
}
.smallerDetails, .smallerDetailsEducation{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 12px;
}
.profileInfo{
    width: 370px;
    overflow-wrap: break-word;
    margin-top: 0px;
    font-size: 12px;
}
ul{
    align-self: self-start;
    list-style: none;
}
li{
    display: flex;
}
.delete, .deleteSkill{
    border: none;
    background-color: transparent;
    font-weight: bold;
    margin-left: 97%;
}
.deleteSkill{
    color: white;
}